// Esta es la version de _custom que se injecta a bootstrap
// version realizada para Dekoa

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// ==========================================
// ====== Variable overrides and others =====
// ==========================================

// custom colors
$color-keppel:					#34afad;			// ~teal
$color-red-dekoa: 			#e31d1a;			// ~rojo dekoa logo original
$color-roman:						#db5461;			// ~rojo palido 1
$color-burnt-sienna:    #ee6055;			// ~rojo palido 2 mas claro
$color-river-bed:				#474e5d;			// ~obscuro-gris-azulon
$color-aqua-island:			#a8dadc;			// ~color cielo claro
$almost-black:          #292b2c;

// timm's color palette
$color-houtland-softgreen:    #77c464;
$color-houtland-middlegreen:  #397b3b;  
$color-houtland-stronggreen:  #204d2f;
$color-houtland-red:          #b11e24;


//changes to button color
$brand-success:         $color-houtland-softgreen;
$btn-success-bg:        $color-houtland-softgreen;
$btn-success-border:    $color-houtland-softgreen;
$brand-success:         $color-houtland-softgreen;
// $enable-rounded: false;

// font override for <body>:
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

// change of container sizes

$container-max-widths: (
  sm: 570px,  // changed from 540px
  md: 800px,  // changed from 740px
  lg: 930px,  // changed from 960px
  xl: 1140px 
  );

// modification to display-4 sizes (text was too large)
// $display4-size:      3rem;   //default was 3.5rem
// $display4-weight:     300 ; 

// no round elements
$enable-rounded:   false;



// ==========================================
// ====== Base.html and general stuff =======
// ==========================================


.super-navbar {
  display:none; 
}

footer {
	height:auto;
	padding:$spacer 0;
	background-color: $almost-black;
	color:$gray-lighter;
	line-height:$spacer;
}

.modal-content {
  color: $almost-black;
}

//random

.debug-1 { 
	border: 1px solid $color-roman;
}

.debug-2 { 
	border: 1px solid $color-aqua-island;
}

.debug-3 {
	border: 1px solid $color-burnt-sienna;
}



// ==========================================
// ============ Index stuff =================
// ==========================================


// ======== Section 1: Main splash ========

#screen-height {
  min-height: 100vh;
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex; /* NEW */
  }


.container-fluid.video-jumbo {
  width: 100%;
  padding: 0;
  background-color: #fff;
  // cursor: ns-resize !important;
}


#container-video { 
  // margin-top: $spacer*2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  width:100%;
  cursor: ns-resize;
}


// ======== Section 2: call for action ========

.call-for-action { 
  margin-top: 150px;
	// height: 80vh;
  margin-bottom: 150px;
}

.progress-bar {
  z-index: 9;
}

.number-2060 {
  z-index: 9998;
  position:relative;
  text-align: right;
  float: right;
  margin-top: 0;
  padding-right: 1.5 * $spacer;
  margin-bottom: -4 * $spacer;
  font-size: .75rem;
  line-height: 1.2rem; 
  vertical-align: middle;

}


.container-stats {
  width: 70%;
}


#screen-height-20 {
  min-height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex; /* NEW */
  }

// ========= Section 3: Donate buttons =========

.bg-newsstrip {
  background-color: #fafafa;
}

.border-right {
  border-right:solid 1px $almost-black;
}




// ==========================================
// ============ Pages templates =============
// ==========================================


.container-fluid{
	max-width: 100%;
  padding:0;
}

.container-fluid.map-page {
  padding: 0;
  max-height: calc(100% - 4rem - 1.5rem);  // trying to substract the navbar and the footer heights!
}

.all-pages-footer {
	padding-bottom:$spacer;
}

// map

#map {
  min-width: 100%;
  height: 100%;
  padding: 0;  
}

.button-modal {
  z-index: 9999;
  position: absolute;
  bottom: 10%;
  right:5%; 
}




// ==========================================
// ============ Other details== =============
// ==========================================


// general color for fontawesome icons
.fa {
  color: $almost-black;
}

.no-deco-please {
  color: inherit;
  text-decoration: none !important;
}

.btn.btn-nocolor {
  color: #000;
  background-color: #fff;
  border: 2px solid $almost-black;
}

.btn.btn-nocolor:hover {
  color: $color-houtland-softgreen;
  background-color: #fff;
  border: 2px solid $almost-black;
}

.progress-bar.progress-custom {
  border-right: 1px solid $almost-black;
  background-color: #fff;
  color: $almost-black;
}

.progress {
  border: 1px solid $almost-black;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.navbar-when-fixed {
  // background: #fff;  
  height: inherit;
}

.bg-houtland-red {
  background-color: $color-houtland-red;
}


.custom-navbar {
  z-index: 9998;
  position: absolute;
  top:auto;
  left:50%;
  transform: translate(-50%,0%);
  display: inline-block;  
}

.overlay {
    position:absolute;
    top:15%;
    left:5%;
    // max-width: 70%;
    text-align: left;
    z-index:1;
}




// ====================================
//  Article pages

.article-container {
  margin-top: 3rem;
}


