<!-- Modal 1-->
<div class="modal fade" style="z-index:10000" id="donate-1-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
     
      <div class="modal-body">

        <div class="container-fluid p-4">
          <div class="row">
            <div class="col-sm-4">
              <p class="lead">5€ TREE SHIRT</p> 
              <p class="lead">Show your support and get a Tree Shirt.</p>
    
              <!-- button paypal -->
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8HGQSAVZMC45Q">
<input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
              <!-- ./ button paypal -->


            </div>
            <div class="col-sm-8">
              <img src="/images/donation-1.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ./modal-->

<!-- Modal 2 -->
<div class="modal fade" style="z-index:10000" id="donate-2-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <p class="lead" >10€ SEED BAG</p> 
              <p class="lead">The seed bag is your personal forest starter. It contains 50 trees to grow a typical dutch forest in your backyard.</p>

              <!-- button paypal -->
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PG9GF6X6VYFZY">
<input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

              <!-- ./ button paypal -->

            </div>
            <div class="col-sm-8">
              <img src="/images/donation-2.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ./modal -->

<!-- Modal 3 -->
<div class="modal fade" style="z-index:10000" id="donate-3-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <p class="lead" >50€ OAK SAPLING</p> 
              <p class="lead">Plant a 5 year old oak tree. The Oak Tree is one of our future food trees and will provide you in just five years with tasty acorns.</p>

              <!-- button paypal -->
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="WALPYELEVRXJW">
<input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


              <!-- ./ button paypal -->

            </div>
            <div class="col-sm-8">
              <img src="/images/donation-3.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ./modal -->

<!-- Modal 4 -->
<div class="modal fade" style="z-index:10000" id="donate-4-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <p class="lead" >100€ TREE SUIT</p> 
              <p class="lead">Become an agent of the trees and support tree-human interaction. With the Tree Suit you are perfectly equipped for a new age wher tree and humans live in harmony.</p>

              <!-- button paypal -->
             
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="F7G7W7PGRP4JQ">
<input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

              <!-- ./ button paypal -->

            </div>
            <div class="col-sm-8">
              <img src="/images/donation-4.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ./modal -->



<!-- Modal 5 500 -->
<div class="modal fade" style="z-index:10000" id="donate-5-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <p class="lead" >500€ LIVE TREE STREAM</p> 
              <p class="lead">If you don't have a backyard big enough for a real forest or a tree. You can get a livestream of Tree01 right in your living-room. We will install a screen with a 24/7 live connection filming a tree in your house.</p>
              <!-- button paypal -->
             

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MCL3EK4AAC9FW">
<input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

              <!-- ./ button paypal -->

            </div>
            <div class="col-sm-8">
              <img src="/images/donation-5.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ./modal -->


<!-- Modal 6 1000 -->
<div class="modal fade" style="z-index:10000" id="donate-6-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <p class="lead" >1000€ TINY FOREST</p> 
              <p class="lead">The tiny forest is the oficial definition of a forest in small scale. Perfect for your entry hall or foyer. You can have a real forest in your house.</p>
              <!-- button paypal -->
            



<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="R8HD7D2ZKCSGA">
<input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


              <!-- ./ button paypal -->

            </div>
            <div class="col-sm-8">
              <img src="./images/donation-6.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ./modal -->




