{% block content %}


<!-- New Section -->
<h1 class="mb-2 w-100 p-3 bg-success">{{ SITENAME }} News</h1>

<div class="bg-newsstrip p-3">

  {% for article in articles_page.object_list if "news" == article.category %}
  <article class="hentry">
    <header> <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.category }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3> </header>
    <div class="text-muted">{{ article.locale_date }}</div>

    <div class="entry-content"> {{ article.summary }} </div><!-- entry-content -->
  </article>
  {% endfor %}


</div>
{% endblock %}