{% block content %}


<!-- New Section -->
<h2 class="mb-0 w-100 mt-4 border-top pt-4">NEWS</h2>

<div class="pt-4">

  {% for article in articles_page.object_list if "news" == article.category %}
  <article class="hentry">
    <header> <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.category }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3> </header>
    <div class="text-muted">{{ article.locale_date }}</div>

    <div class="entry-content"> {{ article.summary }} </div><!-- entry-content -->
  </article>
  {% endfor %}


</div>
{% endblock %}