<img class="img-fluid float-right" style="height: 5rem;" src="/images/LOGO_treecropexploration_BLACK.png" alt="" >

<p>If you have any questions please feel free to contact me at timm.donke@web.de<p>


<p>You can also contact us directly by leaving a message at </p>
<p>The Tree Crop Exploration<br>
support@treecropexploration.nl</p>

<p>I also want to thank all the people who supported this project from the beginning.</p>

<table class="table table-sm  table-responsive">
  
  <tbody>
    <tr>
      <td>The Volunteers Design Collab.</td>
      <td>Leif Czakai and Nathan Fordy</td>
    </tr>
    <tr>
      <td>
        Tutors
      </td>
      <td>
        Marie Vogelzang<br>
        Lucas Massens<br>
        Robert Adolfson<br>
        Mara Seduljke 
      </td>
    </tr>
    <tr>
      <td>Food Cabinet</td>
      <td>Lotte Sluiter</td>
    </tr>
    <tr>
      <td>Support</td>
      <td>Harald &amp; Susann Donke</td>
    </tr>
    <tr>
      <td>Support</td>
      <td>Thomas Hoogerwerf</td>
    </tr>
    <tr>
      <td>Support</td>
      <td>Thieu Custers</td>
    </tr>
    <tr>
      <td>Web Developement</td>
      <td>Sergio Badillo</td>
    </tr>
    <tr>
      <td>Visual Production</td>
      <td>Janis Medleris</td>
    </tr>
    <tr>
      <td>Sound Production</td>
      <td>Ferran Avila</td>
    </tr>
    <tr>
      <td>Research Support</td>
      <td>Sanne Olthof</td>
    </tr>
    <tr>
      <td>Technical Support</td>
      <td>Ron Rooijakkers</td>
    </tr>

  </tbody>
</table>
