{% include "super_navbar.html" %}

{% extends "base.html" %}


{% block content %}

<section id="content">
  {% block content_title %}
  
   
  <div class="container-fluid video-jumbo text-center" id="grad">
    {# <video width="740" height="460" controls="" autoplay="" muted="" loop=""> #}
    <video id="container-video" controls="" autoplay="" muted="" loop="" >
      <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"><!-- WebKit video    -->
      <source src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm"><!-- WebM/VP8/Vorbis -->
      <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg"><!-- Firefox / Opera -->
      <object width="640" height="505" type="application/x-shockwave-flash" data="http://www.youtube.com/v/YE7VzlLtp-4">
      <param name="movie" value="https://www.youtube.com/v/YE7VzlLtp-4">
        <!-- fallback image -->
        <img src="{{ SITE_URL }}/images/poster.jpg" width="640" height="360" alt="" title="No video playback capabilities, please download the video below">
      </object>
    </video>
  </div>

  {# Section 2 : Action #}

  <div class="container call-for-action">
    <div id="screen-height-20" class="row text-center">
      <div class="container my-auto">
        <p class="h1">What if NL were covered with trees?</p>
      </div>
    </div>

    <div id="screen-height-20" class="row text-center ">
      <div class="container-fluid my-auto">
        <button type="button" class="btn btn-lg btn-success mx-2">Locate</button>
        <button type="button" class="btn btn-lg btn-danger mx-2">Donate</button>  
      </div>
    </div>

    <div id="screen-height-20" class="row text-center container" >
      <div class="container text-center my-auto">

        <div class="progress my-2">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
            <p class="float-left ml-2">Money</p>
          </div>
        </div>
        <div class="progress my-2">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <p class="float-left ml-2">Trees</p>
          </div>
        </div>
        <div class="progress my-2">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
            <p class="float-left ml-2">Time</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  {# Section 3 : Description and News #}

  <div class="container mb-4">
    <div class="row">

      <div class="col-sm-8 border-right px-4">
        {% include 'blog.html' %} 
      </div>

      <div class="col-sm-4 px-4">

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€0.0</h5>
              <h5 class="col-md-8">Support</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€5.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€10.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€15.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€25.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€50.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">Other</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

      </div> <!-- /.col -->
    </div><!-- /.row -->
  </div><!--.container de description and news-->




  {% endblock %}

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section><!-- /#content -->
{% endblock content %}
