{# {% include "super_navbar.html" %} #}

{% extends "base.html" %}


{% block content %}

<section id="content">
  {% block content_title %}
  
   
  <div class="container-fluid video-jumbo text-center">
    <video id="container-video" controls="" autoplay="" muted="" loop="" >
      <source src="{{ SITEURL }}/extra/out_footage_720p30.mp4" type="video/mp4"><!-- WebKit video    -->
      {# <source src="backupvideowebm.webm" type="video/webm"><!-- WebM/VP8/Vorbis --> #}
      {# <source src="backupvideoogg.ogg" type="video/ogg"><!-- Firefox / Opera --> #}
      <object width="640" height="505" type="application/x-shockwave-flash" data="http://www.youtube.com/v/YE7VzlLtp-4">
      <param name="movie" value="https://www.youtube.com/v/YE7VzlLtp-4">
        <!-- fallback image -->
        <img src="{{ SITE_URL }}/images/poster.jpg" width="640" height="360" alt="" title="No video playback capabilities, please download the video below">
      </object>
    </video>

{#     <div class="overlay">
        <p class="display-3 text-white">What if the Netherlands were covered with trees?</p>
    </div>
 #}

  </div><!--./video-jumbo -->

  {# Section 2 : Action #}
  
  <div class="container call-for-action">

  {#      2.1 Main message #}

    <div id="screen-height-20" class="row text-center">
      <div class="container my-auto">
        <p class="display-4 mb-4">What if the Netherlands were covered with trees?</p>
        <p class="text-justify h3 mx-4 px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente iure natus molestias at, sed alias assumenda ea, laudantium totam quo nemo. </p>
      </div>
    </div>

  {#      2.2 Buttons #}
  <div id="screen-height-20" class="container-fluid text-center vertical-center">
    
    <div id="header_nav" class="container my-3">
      <div id="" class="text-center navbar-for-index">
        <div class="container-fluid my-auto text-center">
          <a class="btn btn-success btn-custom mx-2 my-2 btn-lg" role="button" href="{{ SITEURL }}/pages/tree01.html">Live tree</a>
          <a class="btn btn-success btn-custom mx-2 my-2 btn-lg" role="button" href="#">Support</a> 
          <a class="btn btn-success btn-custom mx-2 my-2 btn-lg" role="button" href="{{ SITEURL }}/pages/map.html">Map</a>  
        </div>
      </div>
    </div>
    
  </div>


  {#      2.3 Stats #}

    <div id="screen-height-20" class="row text-center" >
      <div class="container my-auto mx-auto text-center container-stats">

        <div class="progress my-3 mx-4">
          <div class="progress-bar progress-custom vertical-center" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
            <span class="float-left ml-1">
              <i class="fa fa-tree" aria-hidden="true"></i>
              <i class="fa fa-tree" aria-hidden="true"></i>
              <i class="fa fa-tree" aria-hidden="true"></i>
            </span>
          </div>
        </div>

        <div class="number-2060 mr-1"><b>2060</b></div>
        <div class="progress my-3 mx-4">
          <div class="progress-bar progress-custom  vertical-center" role="progressbar" aria-valuenow="0" aria-valuemin="2" aria-valuemax="100" style="width: 100%">
            <span class="float-left ml-1 strong"><b>2018</b></span>
          </div>
        </div>
        
        <div class="progress my-3 mx-4">
          <div class="progress-bar progress-custom  vertical-center" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
            <span class="float-left ml-1 vertical-center">
              <i class="fa fa-eur" aria-hidden="true"></i>
            </span>
          </div>
        </div>

      </div>
    </div>

  </div><!--/.call-for-action (Section 2) -->


  {# Section 3 : Main Article and News #}


  <div class="container mb-4">
    <a id="news-link-target"></a>
    <div class="row">


      <div class="col-sm-8 border-right pr-5">

        {# Display fully the articles in the Articles in main page category #}

        {% for article in articles_page.object_list if "articles-in-main-page" == article.category %}
          <article class="hentry">
            <header><h2 class="entry-title">{{ article.title }}</h2></header>
            <div class="entry-content">{{ article.content }} </div><!-- entry-content -->
          </article>
        {% endfor %}

        {# Call News section => blog template #}
      
        {% include 'blog.html' %} 
      
      </div>

      <div class="col-sm-4 px-4">

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€0.0</h5>
              <h5 class="col-md-8">Support</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€5.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€10.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€15.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€25.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">€50.00</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 20rem;">
          <div class="card-header p-3">
            <div class="row">
              <h5 class="col-md-4">Other</h5>
              <h5 class="col-md-8">Card title</h5>
            </div>
          </div>  
          <div class="card-body text-dark m-3">
            <p class="card-text lead">Some quick example text to build on the card.</p>
          </div>
        </div>

      </div> <!-- /.col -->
    </div><!-- /.row -->
  </div><!--.container de description and news-->




  {% endblock %}

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section><!-- /#content -->
{% endblock content %}
