{# {% include "super_navbar.html" %} #}

{% extends "base.html" %}


{% block content %}

<section id="content">
  {% block content_title %}
  

  <div class="container-fluid video-jumbo text-center">
    <video id="container-video" controls="" autoplay="" muted="" loop="" preload="auto" >
      <source src="{{ SITEURL }}/extra/out_footage_720p30.mp4" type="video/mp4"><!-- WebKit video    -->
        {# <source src="backupvideowebm.webm" type="video/webm"><!-- WebM/VP8/Vorbis --> #}
          {# <source src="backupvideoogg.ogg" type="video/ogg"><!-- Firefox / Opera --> #}
            <object width="640" height="505" type="application/x-shockwave-flash" data="http://www.youtube.com/v/YE7VzlLtp-4">
              <param name="movie" value="https://www.youtube.com/v/YE7VzlLtp-4">
              <!-- fallback image -->
              <img src="{{ SITE_URL }}/images/poster.jpg" width="640" height="360" alt="" title="No video playback capabilities, please download the video below">
            </object>
          </video>


        </div><!--./video-jumbo -->

        {# Section 2 : Action #}

        <div class="container call-for-action">

          {#      2.1 Main message #}

          <div id="screen-height-20" class="row text-center">
            <div class="container my-auto">
              <p class="display-4 mb-4">What if the Netherlands were covered with trees?</p>
              <p class="text-justify h3 mx-4 px-2">Plant youself a monument and be part of the most forward thinking project in dutch history. This crouwdfunding campaign aims at the complete reforestaton of the Nethelads by 2060. Let your kids build treehouses and make the Netherlands the first truly green country. Thank you for your support.</p>
            </div>
          </div>

          {#      2.2 Buttons #}
          <div id="screen-height-20" class="container-fluid text-center vertical-center">

            <div id="header_nav" class="container my-3">
              <div id="" class="text-center navbar-for-index">
                <div class="container-fluid my-auto text-center">
                  <a class="btn btn-nocolor btn-wide-equal mx-2 my-2 btn-lg" role="button" href="{{ SITEURL }}/pages/tree01.html">TREE01</a>
                  <a class="btn btn-nocolor btn-wide-equal mx-2 my-2 btn-lg" role="button" href="#" id="support-button">SUPPORT</a> 
                  <a class="btn btn-nocolor btn-wide-equal mx-2 my-2 btn-lg" role="button" href="{{ SITEURL }}/pages/map.html">MAP</a>  
                </div>
              </div>
            </div>

          </div>


          {#      2.3 Stats #}

          <div id="screen-height-20" class="row text-center" >
            <div class="container my-auto mx-auto text-center container-stats">

              <div class="progress my-3 mx-4">
                <div class="progress-bar progress-custom vertical-center" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                  <span class="float-left ml-1">
                    Trees planted
<!--               <i class="fa fa-tree" aria-hidden="true"></i>
              <i class="fa fa-tree" aria-hidden="true"></i>
              <i class="fa fa-tree" aria-hidden="true"></i> -->
            </span>
          </div>
        </div>

        <div class="number-2060 mr-1">2060</div>
        <div class="progress my-3 mx-4">
          <div class="progress-bar progress-custom  vertical-center" role="progressbar" aria-valuenow="0" aria-valuemin="2" aria-valuemax="100" style="width: 20%">
            <span class="float-left ml-1 strong">2018 timeline</span>
          </div>
        </div>
        
        <div class="progress my-3 mx-4">
          <div class="progress-bar progress-custom  vertical-center " role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
            <span class="float-left ml-1 vertical-center">
              <i class="fa fa-eur" aria-hidden="true"></i>
              <i class="fa fa-eur" aria-hidden="true"></i>
              <i class="fa fa-eur" aria-hidden="true"></i>
            </span>
            <span class="w-100">
              <span class="float-sm-right mr-1">Pledged 1000</span>
            </span>          
          </div>
        </div>

        <div class="progress my-3 mx-4">
          <div class="progress-bar progress-custom  vertical-center" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
            <span class="float-left ml-1 vertical-center">
              <i class="fa fa-female" aria-hidden="true"></i>
              <i class="fa fa-male" aria-hidden="true"></i>
              <i class="fa fa-female" aria-hidden="true"></i>
              <i class="fa fa-male" aria-hidden="true"></i>
            </span>
            <span class="w-100">
              <span class="float-sm-right mr-1">Supporters</span>
            </span>
          </div>
        </div>



      </div>
    </div>

  </div><!--/.call-for-action (Section 2) -->


  {# Section 3 : Main Article and News #}


  <div class="container mb-4">
    <a id="news-link-target"></a>
    <div class="row">


      <div class="col-sm-8 border-right pr-5">

        {# Display fully the articles in the Articles in main page category #}

        {% for article in articles_page.object_list if "articles-in-main-page" == article.category %}
        <article class="hentry">
          <header><h2 class="entry-title">{{ article.title }}</h2></header>
          <div class="entry-content">{{ article.content }} </div><!-- entry-content -->
        </article>
        {% endfor %}

        {# Call News section => blog template #}

        {% include 'blog.html' %} 

      </div>


      <div class="col-sm-4 px-4 " id="tour-target">

        <div class="card card-style mb-3" style="max-width: 20rem;">
          <div class="card-header p-2">
            <div class="row no-deco-please">
              <h5 class="col-md-4 mb-0 ">€5</h5>
              <h5 class="col-md-8 mb-0 ">T-shirt</h5>
            </div>
          </div>  
          <a data-toggle="modal" data-target="#donate-1-Modal"><img class="card-img-bottom img-fluid" src="./images/donation-button-1-small.png" alt="Card image cap"></a>
        </div>

        <div class="card card-style mb-3" style="max-width: 20rem;">
          <div class="card-header p-2">
            <div class="row no-deco-please">
              <h5 class="col-md-4 mb-0 ">€10</h5>
              <h5 class="col-md-8 mb-0 ">Seed Bag</h5>
            </div>
          </div>  
          <a data-toggle="modal" data-target="#donate-2-Modal"><img class="card-img-bottom img-fluid" src="./images/donation-button-2-small.png" alt="Card image cap"></a>
        </div>

        <div class="card card-style mb-3" style="max-width: 20rem;">
          <div class="card-header p-2">
            <div class="row no-deco-please">
              <h5 class="col-md-4 mb-0 ">€50</h5>
              <h5 class="col-md-8 mb-0 ">Oak Sapling</h5>
            </div>
          </div>  
          <a data-toggle="modal" data-target="#donate-3-Modal"><img class="card-img-bottom img-fluid" src="./images/donation-button-3-small.png" alt="Card image cap"></a>
        </div>

        <div class="card card-style mb-3" style="max-width: 20rem;">
          <div class="card-header p-2">
            <div class="row no-deco-please">
              <h5 class="col-md-4 mb-0 ">€100</h5>
              <h5 class="col-md-8 mb-0 ">Tree suit</h5>
            </div>
          </div>  
          <a data-toggle="modal" data-target="#donate-4-Modal"><img class="card-img-bottom img-fluid" src="./images/donation-button-4-small.png" alt="Card image cap"></a>
        </div>

        <div class="card card-style mb-3" style="max-width: 20rem;">
          <div class="card-header p-2">
            <div class="row no-deco-please">
              <h5 class="col-md-4 mb-0 ">€500</h5>
              <h5 class="col-md-8 mb-0 ">Tree Live Stream</h5>
            </div>
          </div>  
          <a data-toggle="modal" data-target="#donate-5-Modal"><img class="card-img-bottom img-fluid" src="./images/donation-button-5-small.png" alt="Card image cap"></a>
        </div>

        <div class="card card-style mb-3" style="max-width: 20rem;">
          <div class="card-header p-2">
            <div class="row no-deco-please">
              <h5 class="col-md-4 mb-0 ">€1000</h5>
              <h5 class="col-md-8 mb-0 ">Tiny Forest</h5>
            </div>
          </div>  
          <a data-toggle="modal" data-target="#donate-6-Modal"><img class="card-img-bottom img-fluid" src="./images/donation-button-6-small.png" alt="Card image cap"></a>
        </div>

        <div class="text-center">
          <p>Or choose your own contribution!</p>
          
          <!-- Paypal button-->
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="RB52Z4F9Q8ULU">
<input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>          
<!-- ./Paypal button-->


        </div>
        {% include "all-donate-modals.html" %}


      </div> <!-- /.col -->
    </div><!-- /.row -->
  </div><!--.container de description and news-->




  {% endblock %}

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}

  {# ================ start false footer ==================#}

  <div class="false-footer container-fluid py-2">
    <div class="container ">
      <div class="row justify-content-between">
        <div class="col-sm-8 pr-5  d-flex my-auto">
         <!-- Button trigger modal -->
         <a class="mr-4 link-in-footer no-deco-please hover-green-deco" data-toggle="modal" data-target="#contactModal">CONTACT</a>
         <a class="mr-4 link-in-footer no-deco-please hover-green-deco" href="/pages/research.html">COMPLETE RESEARCH</a>
       </div>
       <div class="col-sm-3 px-4 ">
        <img class="img-fluid float-right" src="./images/LOGO_treecropexploration_WHITE.png">
      </div>
    </div><!-- .row -->


    <!-- Modal -->
    <div class="modal fade" style="z-index:1000000000" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% include "contact-content.html" %}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-nocolor" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div><!-- ./modal-->


  </div> <!-- ./container-->
</div><!--.false-footer container-fluid -->
{# ================ . false footer ==================#}


</section><!-- /#content -->
{% endblock content %}
